<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Ecommerce">
	<listeners>
		<listener
			class-name="com.ict.learning.learnsel.utils.Listeners"></listener>
	</listeners>
	<test thread-count="5" name="Smoke">
		<!-- <groups> <run> <include name="smoke"/> </run> </groups> -->
		<classes>
			<class name="com.ict.learning.learnsel.tests.Search_POM_TestNG" />
		</classes>
	</test> <!-- Smoke -->
</suite> <!-- Ecommerce -->
